theme = "cat"

[editor]
line-number = "relative"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.normal]
"ret" = "goto_word"
Z = { Q = ":quit!", Z = ":x" }
